.bd-article-container {

  /* Top two headers are slightly bolder */
  h1,
  h2 {
    font-weight: 500;
  }

  /* Other headers are normal weight */
  h3,
  h4,
  h5,
  h6 {
    font-weight: 400;
  }

}

a {
    text-decoration: none;
}

a::hover {
    text-underline-offset: .1578em;
}

a.external {
    text-decoration: underline;
    text-underline-offset: .1578em;
}

a.internal .doc {
    text-decoration: underline;
    text-underline-offset: .1578em;
}

a.internal .std-term {
    /* Make glossary links look different */
    color: var(--pst-color-text-base);
    text-decoration: underline;
    text-decoration-color: var(--pst-color-text-base);
    text-decoration-style: dashed;
    text-underline-offset: .1578em;
}
