name: test

on: pull_request

jobs:
  test:
    runs-on: ubuntu-latest
    steps:

      - name: Checkout repository
        uses: actions/checkout@v2

      - id: auth
        name: Set up Google Cloud authentication
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GOOGLE_CREDENTIALS }}

      - name: Set up Google Cloud SDK
        uses: google-github-actions/setup-gcloud@v2
        with:
          version: '>= 363.0.0'

      - name: Check gcloud CLI
        run: gcloud info

      - name: Restore results cache
        uses: actions/cache/restore@v3
        with:
          path: results/malariagen_data_cache
          # Change this key if you ever want to force clear the cache.
          key: results_cache_20230512

      - name: Install conda environment
        uses: mamba-org/setup-micromamba@v2
        with:
          environment-file: workflow/common/envs/selection-atlas.yaml
          environment-name: selection-atlas
          cache-downloads: true

      - name: Run gwss snakemake workflow
        shell: bash -l {0}
        run: |
          snakemake -c1 --configfile config/ci.yaml --snakefile workflow/gwss/Snakefile --show-failed-logs

      - name: Run site snakemake workflow
        shell: bash -l {0}
        run: |
          snakemake -c1 --configfile config/ci.yaml --snakefile workflow/site/Snakefile --show-failed-logs

      - name: Save results cache
        uses: actions/cache/save@v3
        if: always()
        with:
          path: results/malariagen_data_cache
          # Change this key if you ever want to force clear the cache.
          key: results_cache_20230512
